<h2>Users</h2>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      {{#each model as |user|}}
          <tr>
            <td> {{user.id}} </td>
            <td> {{user.name}} </td>
            <td>
              Now: <b>{{user.role}}</b>
              <select class="form-control" id="user{{user.id}}RoleSelection">
                      <option value="">Select new type</option>
                      <option value="superuser">superuser</option>
                      <option value="admin">admin</option>
                      <option value="guest">guest</option>
              </select>

               </td>
            <td align="center"><button type="button" class="btn btn-default"
              {{action "save" user}} > save </button></td>
          </tr>
      {{/each}}
  </tbody>
</table>
