<h2>Clusters</h2>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Update time</th>
    </tr>
  </thead>
  <tbody>
      {{#each model as |cluster|}}
          <tr>
            <td> {{cluster.id}} </td>
            <td> {{cluster.name}} </td>
            <td> {{cluster.updateTime}} </td>
          </tr>
      {{/each}}
  </tbody>
</table>

<div class="charts">
  {{charts/pie-chart  dataType='osds' chartDescription='osds pie chart'}}
  {{charts/donut-chart  dataType='nodes' chartDescription='nodes donut chart'}}
  {{charts/bar-chart dataType='osds' chartDescription='nodes bar chart'}}
</div>
