<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6">
              {{kujira.info-box type="success" icon="ok" title="CLUSTER HEALTH" content="OK"}}
        </div>
        <div class="col-lg-4 col-md-6">
              {{kujira.info-box type="error" icon="remove" title="CLUSTER HEALTH" content="ERROR"}}
        </div>
        <div class="col-lg-4 col-md-6">
              {{kujira.info-box type="warning" icon="exclamation-sign" title="CLUSTER HEALTH" content="WARN"}}
        </div>
        <div class="col-lg-6 col-md-6">
          {{kujira.info-box type="info" icon="info-sign" title="CLUSTER HEALTH" content="INFO" class='large'}}
        </div>
        <div class="col-lg-6 col-md-6">
          {{kujira.info-box type="success" icon="ok" title="CLUSTER HEALTH" content="OK"}}
        </div>
        {{test-graph}}
    </div>
    <div class="charts">
      {{charts/pie-chart  dataType='osds' chartDescription='osds pie chart'}}
      {{charts/donut-chart  dataType='nodes' chartDescription='nodes donut chart'}}
      {{charts/bar-chart dataType='osds' chartDescription='nodes bar chart'}}
    </div>
</div>
