<h2>Pools</h2>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Full</th>
      <th>Name</th>
      <th>Min. Size</th>
      <th>Pg Num</th>
      <th>Pgp Num</th>
      <th>Size</th>
      <th>ID</th>
      <th>Crush Ruleset</th>
    </tr>
  </thead>
  <tbody>
      {{#each model as |pool|}}
          <tr>
            <td> {{pool.full}} </td>
            <td> {{pool.name}} </td>
            <td> {{pool.minSize}} </td>
            <td> {{pool.pgNum}} </td>
            <td> {{pool.pgpNum}} </td>
            <td> {{pool.size}} </td>
            <td> {{pool.id}} </td>
            <td> {{pool.crushRuleset}} </td>
          </tr>
      {{/each}}
  </tbody>
</table>
