<div class="info-box {{class}}">
  <div class="info-box-{{ type }}">
    <span class="glyphicon glyphicon-{{ icon }}" aria-hidden="true"></span>
  </div>
  <div class="info-box-content">
    <span class="info-box-title">{{ title }}</span>
    <h3><strong>{{ content }}</strong></h3>
  </div>
</div>
